<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Green Age - Blog</title>
    <link href="/css/tooplate_style.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="subpage">
    <div id="tooplate_wrapper">
      <div id="tooplate_header">
        <div id="site_title">
          <h1><a href="/">Green Age</a></h1>
        </div>
        <div class="cleaner"></div>
      </div>

      <div id="tooplate_menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/blog" class="current">Blog</a></li>
          <li class="last"><a href="/contact">Contact</a></li>
        </ul>
        <div class="cleaner"></div>
      </div>

      <div id="tooplate_middle_subpage">
        <h2>Blog</h2>
        <p>
          Praesent vulputate arcu ac nibh venenatis molestie. Fusce nulla urna,
          vehicula ac egestas vitae, posuere at leo.
        </p>
      </div>

      <div id="tooplate_main">
        <div class="col_w960 col_w960_last">
          <div class="col_w600 float_l">
            <div class="post_box">
              <p class="post_meta">
                <span class="cat"
                  >Posted in <a href="#">Website</a>,
                  <a href="#">Templates</a></span
                >
                | Date: June 26, 2048
              </p>
              <h2>Sed mollis elementum lectus rhoncus</h2>
              <img src="/images/blog_image_02.jpg" alt="Image 02" />
              <p>
                Nunc varius venenatis sem sed adipiscing. Mauris suscipit mauris
                in purus mattis placerat. Ut rhoncus imperdiet nibh sit amet
                sagittis. Aliquam erat volutpat.
              </p>
              <a class="more" href="#">More</a>
              <div class="cleaner"></div>
            </div>

            <div class="post_box">
              <p class="post_meta">
                <span class="cat"
                  >Posted in <a href="#">Illustrations</a>,
                  <a href="#">Graphics</a></span
                >
                | Date: June 21, 2048
              </p>
              <h2>Duis eu lectus et ante accumsan auctor</h2>
              <img src="/images/blog_image_03.jpg" alt="Image 03" />
              <p>
                Aliquam erat volutpat. In pellentesque sagittis dictum. Donec ac
                aliquam neque. Sed tellus diam, consequat nec volutpat et.
              </p>
              <a class="more" href="#">More</a>
              <div class="cleaner"></div>
            </div>

            <div class="post_box">
              <p class="post_meta">
                <span class="cat"
                  >Posted in <a href="#">3D</a>,
                  <a href="#">Animations</a></span
                >
                | Date: June 17, 2048
              </p>
              <h2>Fusce vehicula consequat dignissim</h2>
              <img src="/images/blog_image_01.jpg" alt="Image 01" />
              <p>
                Donec ligula odio, mattis fringilla cursus at, rhoncus a sem.
                Duis in nunc est. Vivamus eu blandit sapien.
              </p>
              <a class="more" href="#">More</a>
              <div class="cleaner"></div>
            </div>
          </div>

          <div class="col_w300 float_r">
            <div class="cleaner h30"></div>
            <h3>Latest Projects</h3>
            <div class="sb_lp_box">
              <img src="/images/gallery/image_04_s.jpg" alt="Image 04" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
