<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Green Age - Contact</title>
    <link href="/css/tooplate_style.css" rel="stylesheet" type="text/css" />
</head>

<body class="subpage">
    <div id="tooplate_wrapper">

        <div id="tooplate_header">
            <div id="site_title">
                <h1><a href="/">Green Age</a></h1>
            </div>
            <div class="cleaner"></div>
        </div>

        <div id="tooplate_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/blog">Blog</a></li>
                <li class="last"><a href="/contact" class="current">Contact</a></li>
            </ul>
            <div class="cleaner"></div>
        </div>

        <div id="tooplate_middle_subpage">
            <h2>Contact Information</h2>
            <p>Sed placerat mattis iaculis. Nunc a bibendum tellus.
                Morbi nec sapien ut orci aliquet ullamcorper.</p>
        </div>

        <div id="tooplate_main">
            <div class="col_w960 col_w960_last">

                <div class="col_w450 float_l">
                    <h3>Quick Contact Form</h3>
                    <div id="cp_contact_form">
                        <form method="post" action="#">
                            <label for="author">Name:</label>
                            <input name="author" type="text" class="input_field" id="author" maxlength="40" />
                            <div class="cleaner h10"></div>

                            <label for="email">Email:</label>
                            <input name="email" type="text" class="input_field" id="email" maxlength="40" />
                            <div class="cleaner h10"></div>

                            <label for="subject">Subject:</label>
                            <input name="subject" type="text" class="input_field" id="subject" maxlength="80" />
                            <div class="cleaner h10"></div>

                            <label for="text">Message:</label>
                            <textarea id="text" name="text" rows="0" cols="0"></textarea>
                            <div class="cleaner h10"></div>

                            <input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" />
                            <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" />
                        </form>
                    </div>
                </div>

                <div class="col_w450 float_r">
                    <h3>Our Location</h3>
                    <img src="/images/map_thumb.jpg" alt="Map" />
                    <div class="cleaner h30"></div>
                    <h3>Our Address</h3>
                    <h6>Green Company</h6>
                    150-300 Fusce non libero sed,<br />
                    Vestibulum velit mauris, 10800<br />
                    Donec nec mauris justo<br /><br />
                    Tel: 060-027-2330<br />
                    Fax: 060-030-2780<br />
                </div>

                <div class="cleaner"></div>
            </div>
        </div>

    </div>

    <div id="tooplate_cr_wrapper">
        <div id="tooplate_cr">
            Copyright &copy; 2048 <a href="#">Company Name</a> -
            Design: <a href="http://www.tooplate.com">tooplate</a>
        </div>
    </div>

</body>

</html>