<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Green Age - Gallery</title>
    <link href="/css/tooplate_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" />
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/jquery.lightbox-0.5.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () { $('.lightbox').lightBox(); });
    </script>
</head>

<body class="subpage">
    <div id="tooplate_wrapper">

        <div id="tooplate_header">
            <div id="site_title">
                <h1><a href="/">Green Age</a></h1>
            </div>
            <div class="cleaner"></div>
        </div>

        <div id="tooplate_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery" class="current">Gallery</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/blog">Blog</a></li>
                <li class="last"><a href="/contact">Contact</a></li>
            </ul>
            <div class="cleaner"></div>
        </div>

        <div id="tooplate_middle_subpage">
            <h2>Gallery</h2>
            <p>Nunc id interdum odio. Aliquam erat volutpat. Quisque id libero ut
                lectus molestie suscipit. Vivamus mattis dolor a purus tincidunt.</p>
        </div>

        <div id="tooplate_main">
            <div class="col_w960">
                <div id="gallery">

                    <div class="gallery_box">
                        <h3>Donec eleifend ipsum</h3>
                        <a class="lightbox" href="/images/gallery/image_01_l.jpg"
                            title="Aenean congue tellus sed leo tincidunt rhoncus.">
                            <img src="/images/gallery/image_01_s.jpg" alt="Image 01" />
                        </a>
                        <a href="#" class="more float_r">Detail</a>
                    </div>

                    <div class="gallery_box">
                        <h3>Pellentesque rhoncus</h3>
                        <a class="lightbox" href="/images/gallery/image_02_l.jpg"
                            title="Maecenas eget ligula et sapien tempus aliquet.">
                            <img src="/images/gallery/image_02_s.jpg" alt="Image 02" />
                        </a>
                        <a href="#" class="more float_r">Detail</a>
                    </div>

                    <div class="gallery_box third">
                        <h3>Nullam faucibus diam</h3>
                        <a class="lightbox" href="/images/gallery/image_03_l.jpg"
                            title="Curabitur id felis justo, quis dapibus turpis.">
                            <img src="/images/gallery/image_03_s.jpg" alt="Image 03" />
                        </a>
                        <a href="#" class="more float_r">Detail</a>
                    </div>

                    <div class="gallery_box">
                        <h3>Integer sit amet</h3>
                        <a class="lightbox" href="/images/gallery/image_04_l.jpg"
                            title="Praesent ac felis et dui dictum tincidunt.">
                            <img src="/images/gallery/image_04_s.jpg" alt="Image 04" />
                        </a>
                        <a href="#" class="more float_r">Detail</a>
                    </div>

                    <div class="gallery_box">
                        <h3>Sed imperdiet porta</h3>
                        <a class="lightbox" href="/images/gallery/image_05_l.jpg"
                            title="Aliquam quis enim quis justo fringilla blandit.">
                            <img src="/images/gallery/image_05_s.jpg" alt="Image 05" />
                        </a>
                        <a href="#" class="more float_r">Detail</a>
                    </div>

                    <div class="gallery_box third">
                        <h3>Fusce tincidunt libero</h3>
                        <a class="lightbox" href="/images/gallery/image_06_l.jpg"
                            title="Morbi tempor vehicula orci, ut pulvinar nisl venenatis eu.">
                            <img src="/images/gallery/image_06_s.jpg" alt="Image 06" />
                        </a>
                        <a href="#" class="more float_r">Detail</a>
                    </div>

                </div>
                <div class="cleaner"></div>
            </div>
        </div>

    </div>

    <div id="tooplate_cr_wrapper">
        <div id="tooplate_cr">
            Copyright &copy; 2048 <a href="#">Company Name</a> -
            Design: <a href="http://www.tooplate.com">tooplate</a>
        </div>
    </div>

</body>

</html>