<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Green Age</title>
    <link href="/css/tooplate_style.css" rel="stylesheet" />
</head>

<body class="homepage">
    <div id="tooplate_wrapper">

        <!-- HEADER - do A -->
        <!-- SLIDESHOW - do B -->
        <!-- WELCOME - do A -->
        <!-- LATEST PROJECTS - do B -->

    </div>
    <!-- FOOTER - do A -->
</body>

</html>
```

**Tạo `.gitignore`:**
```
node_modules/