<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Green Age - News</title>
    <link href="/css/tooplate_style.css" rel="stylesheet" type="text/css" />
</head>

<body class="subpage">
    <div id="tooplate_wrapper">

        <div id="tooplate_header">
            <div id="site_title">
                <h1><a href="/">Green Age</a></h1>
            </div>
            <div class="cleaner"></div>
        </div>

        <div id="tooplate_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/news" class="current">News</a></li>
                <li><a href="/blog">Blog</a></li>
                <li class="last"><a href="/contact">Contact</a></li>
            </ul>
            <div class="cleaner"></div>
        </div>

        <div id="tooplate_middle_subpage">
            <h2>News</h2>
            <p>Fusce urna massa, egestas at commodo non, vehicula sodales lectus.
                Integer congue congue nunc, et ullamcorper lacus fringilla eu.</p>
        </div>

        <div id="tooplate_main">
            <div class="col_w960 col_w960_last">

                <div class="col_w600 float_l">
                    <div class="news_box">
                        <img src="/images/news_image_01.jpg" alt="Image 01" />
                        <h2>Sed mollis elementum lectus rhoncus</h2>
                        <p class="date">March 26, 2048</p>
                        <p>Nunc varius venenatis sem sed adipiscing. Mauris suscipit mauris
                            in purus mattis placerat. Ut rhoncus imperdiet nibh sit amet sagittis.</p>
                        <a class="more" href="#">More</a>
                        <div class="cleaner"></div>
                    </div>

                    <div class="news_box">
                        <img src="/images/news_image_02.jpg" alt="Image 02" />
                        <h2>Duis eu lectus et ante accumsan auctor</h2>
                        <p class="date">March 23, 2048</p>
                        <p>Aliquam erat volutpat. In pellentesque sagittis dictum.
                            Donec ac aliquam neque. Sed tellus diam.</p>
                        <a class="more" href="#">More</a>
                        <div class="cleaner"></div>
                    </div>

                    <div class="news_box">
                        <img src="/images/news_image_03.jpg" alt="Image 03" />
                        <h2>Aenean vulputate tempus sollicitudin</h2>
                        <p class="date">March 18, 2048</p>
                        <p>Mauris suscipit mauris in purus mattis placerat.
                            Ut rhoncus imperdiet nibh sit amet sagittis.</p>
                        <a class="more" href="#">More</a>
                        <div class="cleaner"></div>
                    </div>

                    <div class="news_box">
                        <img src="/images/news_image_04.jpg" alt="Image 04" />
                        <h2>Fusce vehicula consequat dignissim</h2>
                        <p class="date">March 15, 2048</p>
                        <p>Ut rhoncus imperdiet nibh sit amet sagittis.
                            Aliquam erat volutpat. In pellentesque sagittis dictum.</p>
                        <a class="more" href="#">More</a>
                        <div class="cleaner"></div>
                    </div>
                </div>

                <div class="col_w300 float_r">
                    <h2>Latest Updates</h2>
                    <div class="lbe_box">
                        <h3><a href="#">Etiam a Dui et Eros Imperdiet Rhoncus</a></h3>
                        <p>Morbi pellentesque, libero vitae fermentum tincidunt libero accumsan erat.</p>
                        <p class="date">March 27, 2048</p>
                    </div>
                    <div class="lbe_box">
                        <h3><a href="#">Aenean Quis Nulla ac Nisl Rutrum</a></h3>
                        <p>Libero accumsan erat, sit amet ornare lectus urna a turpis.</p>
                        <p class="date">March 17, 2048</p>
                        <div class="cleaner"></div>
                    </div>
                    <div class="cleaner h30"></div>
                    <h3>Latest Project</h3>
                    <div class="sb_lp_box">
                        <img src="/images/gallery/image_04_s.jpg" alt="Image 04" />
                        <p>Duis convallis odio et velit venenatis ac venenatis turpis.
                            <a href="#">More...</a>
                        </p>
                    </div>
                </div>

                <div class="cleaner"></div>
            </div>
        </div>

    </div>

    <div id="tooplate_cr_wrapper">
        <div id="tooplate_cr">
            Copyright &copy; 2048 <a href="#">Company Name</a> -
            Design: <a href="http://www.tooplate.com">tooplate</a>
        </div>
    </div>

</body>

</html>